@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

header{
    margin-bottom: 300px;
}
.common-color {
    color: #3361ec;
}

.navbar {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    
}

.logo {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    color: black;
    width: 25%;
    /* border: 2px solid green; */
    vertical-align: top;
    font-size: 20px;
}

.navbar div {
    width: 25%;
    display: inline-block;
    text-align: right;
    /* border: 2px solid red; */
    vertical-align: top;
}

.logo span {
    color: #3361ec;
}

.navbar .nav-items {
    display: inline-block;
    width: 50%;
    text-align: center;
    /* border: 2px solid yellowgreen; */
    vertical-align: top;
}

.nav-items li {
    list-style: none;
    display: inline-block;
    margin-right: 25px;
}

.nav-items li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 400;
}

.disabled-link{
    color: gray !important; 
}
.button {
    text-decoration: none;
    background-color: #3361ec;
    color: white;
    padding: 10px 20px;
}
.header-title{
    max-width: 75%;
    font-weight: 400;
    font-size: 50px;
    margin-bottom: 50px;
    text-transform:capitalize;
}
.header-banner{
    background-image: url(./images/pic1.jpg);
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    position: relative;
}
.bottom-first-segment{
    position: absolute;
    left: 100px;
    bottom: 100px;
}
.bottom-first-segment a{
    background-color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin-right: 5px;
}
.bottom-first-segment .apartment{
    color:#3361ec;
    font-weight: 600;
}
.apartment  i, .home i{
    margin-right: 10px;
}
.bottom-first-segment .home{
    color: gray;
}
.bottom-last-segment{
    position: relative;
    /* padding-top: 50px; */
    /* padding-bottom: 50px; */
    background-color: white;
    width: calc(100% - 20%);
    top: 450px;
    left: 100px;
    right: 100px;
    box-shadow: 2px 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.first-row span{
    display: inline-block;
    width: calc(100% / 3 - 20px);
    margin-left: 20px;
    line-height: 70px;
    color: gray;
}
.second-row{
    line-height: 70px;
    padding-left: 20px;
    padding-right: 20px;
}
.second-row span{
    display: inline-block;
    width: calc(100% / 4);
    text-decoration: none;
    color: gray;
    font-weight: 600;
}
.second-row span p{
    display: inline-block;
    margin-left: 10px;
    margin-right: 20px;
}
.second-row a:last-child{
    color: white;
}

/* interior demo section  */

.interior-demo{
    margin-bottom: 100px;
}
.left-img-segment, .right-img-segment, .right-top-left-img-segment, .right-top-right-img-segment{
    display: inline-block;
    vertical-align: top;
}
.left-img-segment{
    width: calc(30% - 10px);
    margin-right: 10px;
}
.left-img-segment img{
    width: 100%;
    object-fit: cover;
}
.left-first img{
    height: 200px;
    margin-bottom: 10px;
    object-fit: cover;
}
.left-second img{
    height: 400px;
    object-fit: cover;
}
.right-img-segment {
    width: calc(70% - 10px);
    margin-left: 10px;
}
.right-top-left-img-segment, .right-top-right-img-segment{
    width: calc(50% - 10px);
    margin-right: 10px;
}
.right-top-left-img-segment img, .right-top-right-img-segment img{
    width: 100%;
    height: 400px;
    object-fit: cover;

}
.right-top-right-img-segment img{
    margin-left: 10px;
}
.right-bottom-img-segment img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-top: 10px;
}

/* project section  */
.project-section{
    margin-bottom: 100px;
}
.project-section-left-segment, .project-section-right-segment{
    display: inline-block;
    vertical-align: middle;
}
.project-section-left-segment{
    width: calc(40% - 10px);
    margin-right: 10px;
}
.project-section-right-segment{
    width: calc(60% - 20px);
    margin-left: 20px;
    /* padding: 50px; */
    padding: 40px 20px 40px 60px;
}
.project-section-outer-img{ 
    position: relative;
}
.project-section-outer-img img{
    height: 400px;
    width: 100%;
}
.project-section-inner-img{
    position: absolute;
    top: 150px;
    right: -60px;
}
.project-section-inner-img img{
    height: 200px;
    border: 10px solid white;
}
.project-section-right-segment-content h1{
    font-weight: 500;
    font-size: 40px;
    margin-bottom: 20px;
    text-transform:capitalize;
}
.project-button{
    margin-top: 40px;
}
.contact-btn{
    margin-left: 10px;
    background-color: white;
    border: 1px solid gray;
    color: black;
}

/* services section  */
.services-section{
    margin-bottom: 200px;
}
.services-section-left-segment, .services-section-right-segment{
    display: inline-block;
    vertical-align: middle;
}
.services-section-left-segment{
    width: calc(60% - 10px);
    margin-right: 10px;
    /* padding: 80px 0; */
}
.services-section-right-segment{
    width: calc(40% - 70px);
    margin-left: 10px;
}
.services-section-left-segment h1{
    font-weight: 500;
    font-size: 40px;
    margin-bottom: 20px;
    text-transform: capitalize;
}
.services-content{
    margin-bottom: 20px;
}
.services-icon{
    width: 40px;
    height: 40px;
    background-color:#3361ec;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: white;
}
.services-icon-details{
    width: calc(100% - 60px);
    margin-left: 20px;
}
.services-icon-details p{
   color: gray;
}
.services-icon, .services-icon-details{
    display: inline-block;
    vertical-align: top;
}

.services-section-outer-img{ 
    position: relative;
}
.services-section-outer-img img{
    height: 600px;
    width: 100%;
    object-fit: cover;
}
.services-section-inner-img{
    position: absolute;
    bottom: -80px;
    right: -60px;
}
.services-section-inner-img img{
    height: 300px;
    border: 10px solid white;
}

/* customer feedback section  */
.customer-feedback-section{
    margin-bottom: 100px;
    margin-top: 100px;
}
.feedback-header h1, span{
    display: inline-block;
}
.feedback-header h1{
    width: 70%;
    /* border: 2px solid red; */
    font-weight: 500;
    font-size: 40px;
    margin-bottom: 20px;
    text-transform: capitalize;
    vertical-align: middle;
}
.feedback-header span{
    width: 30%;
    /* border: 2px solid green; */
    text-align: right;
}
span .left-arrow, span .right-arrow{
    display: inline-block;
    width: 40px;
    height: 40px; 
    /* text-decoration: none; */
    text-align: middle;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
}
.left-arrow{
    background-color:lightgray;
    color: #3361ec;
    margin-right: 20px;
}
.right-arrow{
    background-color:#3361ec;
    color: white;
}
.feedback-left-segment, .feedback-right-segment{
    display: inline-block;
    width: 50%;
}
.feedback-img, .feedback-content{
    display: inline-block;
    vertical-align: top;
}
.feedback-img{
    width: 40%;
    height: 300px;
}
.feedback-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.feedback-content{
    width: 60%;
    height: 300px;
    padding: 25px 10px;
    text-align: justify;
    background-color: #f1f6f7;
    
}
.feedback-content p{
    margin-bottom: 20px;
}

/* footer */
footer{
    /* margin-bottom: 100px; */
    background-color:#f1f6f7;
    padding-top: 50px;
    padding-bottom: 50px;
}
.logo{
    /* border: 2px solid red; */
}
.footer-link-items, .social-icon{
    display: inline-block;
    vertical-align: bottom;
}
.footer-link-items{
    width: 50%;
    /* border: 2px solid green; */
    text-align: center;
}
.footer-link-items li{
    list-style: none;
    display: inline-block;
    margin-right: 20px;
}
.footer-link-items a{
    text-decoration: none;
    color: gray;
}
.social-icon{
    width: 25%;
    /* border: 2px solid blue; */
    text-align: right;
}
.social-icon i{
    color: #3361ec;
    margin-left: 10px;
}